body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 1440px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}
.popup__close {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}
/*-----------------------------------------------------*/
.information {
	display: flex;
	&__image {
		height: 824px;
		width: 515px;
	}

	&__blocks {
	}
}
.columnu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-left: 125px;
	margin-top: 140px;
	&__blocks1 {
	}

	&__title {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 48px;
		color: #091133;
		margin-bottom: 14px;
	}

	&__text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #6f7cb2;
		min-width: 520px;
		max-width: 520px;
	}

	&__blocks2 {
	}
}
.benefits {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-right: 25px;
	margin-top: 58px;
	/*margin-left: -200px;*/
	&__icon {
		margin-top: 20px;
		margin-bottom: 14px;
	}

	&__title {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #091133;
		margin-bottom: 4px;
	}

	&__text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: #5d6970;
		min-width: 325px;
		max-width: 325px;
	}
}
.bnifits2 {
	flex-wrap: wrap;
	&__first-block {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}
}
.benefits2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-right: 25px;
	margin-top: 58px;
	/*margin-left: -200px;*/
	&__icon {
		margin-top: 20px;
		margin-bottom: 14px;
	}

	&__title {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #091133;
		margin-bottom: 4px;
	}

	&__text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: #5d6970;
		min-width: 325px;
		max-width: 325px;
	}
}
.bnifits2 {
	&__first-block {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}
}
