//====================================================================================================
@media (max-width: 1024px) {
  .footer {
    margin-top: -65px;
  }
}
.footer {
  background-color: #e7ecff;
  z-index: 20;
  &__container {
    max-width: 1110px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 66px 0px 45px 0px;
  }

  &__line {
    display: flex;
    justify-content: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 32px 0px;
  }
  @media (max-width: $mobileSmall) {
    &__line {
      width: 20px;
    }
    &__top {
      display: flex;
      flex-direction: column;
      padding: 46px 0px 25px 0px;
    }
    &__bottom {
      padding: 26px 0px 24px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 320px) {
    &__bottom {
      padding: 26px 0px 24px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.top {
  display: flex;
  align-items: center;
  &__company {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #939ea4;
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447e;
  }

  &__button {
    background: #111b47;
    border-radius: 2px;
    height: 26px;
    width: 109px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  @media (max-width: $mobileSmall) {
    &__company {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__button {
      margin-bottom: 20px;
    }
  }
}
.bottom {
  &__left {
  }

  &__list {
    display: flex;
  }

  &__item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #929ecc;
    padding-right: 60px;
  }

  &__right {
  }

  &__icon-list {
    display: flex;
  }

  &__icons {
    padding-right: 30px;
  }

  &__icons:nth-child(5) {
    padding-right: 0px;
  }
  @media (max-width: $mobileSmall) {
    &__list {
      margin-left: 25px;
    }
    &__item {
      margin-bottom: 20px;
      padding-right: 20px;
    }
    &__icons {
      padding-right: 15px;
      padding-right: 20px;
    }
  }
  @media (max-width: 320px) {
    &__list {
      margin-left: 25px;
    }
    &__item {
      margin-bottom: 20px;
      padding-right: 20px;
    }
    &__icons {
      padding-right: 15px;
      padding-right: 20px;
    }
  }
}
//====================================================================================================
