//====================================================================================================
h1 {
  color: #fff;
}
//====================================================================================================
body {
  background-color: #000;
}
h1 {
  color: #fff;
}
.page {
  background-color: rgb(255, 8, 8);
}
